/* body,html{
	margin: 0px;
	height: 100%;
}
#header, #content, #footer
{
	width:80%;
	margin:0 auto;	
	position: relative;
    border:1px #7fb80e solid;
}

#title
{
	margin-top: 10%;
	margin-right: 20%;
	float: right;
	color: #f0f0f0;
}
#login{
	border: 1px solid #806000;
	position: absolute;	
	right:20px;
	top:20px;
	color: #f0f0f0;
}
#header
{
	background-color:#505050;
}
#header img
{
	width: 25%;
}
#content{
	height:100%;
}
#footer
{
	clear:both;	
	text-align:center;
	background-color: #C3BED4;
}
#left
{
	border:1px #7fb80e solid;
	background-color: #228fbd;
	float:left;
	width:25%;
	height: 100%;
}
#left ul{
	height: 100%;
}
#left li{
	font-size: 1.5em;
	list-style: none;
	margin: 7%;
}
#right
{
	border:1px #7fb80e solid;
	background-color: #FDFCF9;
	float:right;
	width:75%;
	height: 100%;
	overflow:scroll;
}
#right img{
	width: 30%;
	height: 40%;
	margin: 3% 1%;
}

.leftfloat {
    float:left;
}
.rightfloat {
    float:right;
}
a:link{
	color: #303030;
	text-decoration: none;
}
body{
	background-color: #AFE0E0;
}
#user{
	text-align: center;
	font-size: 4em;
	color: #303030;
}
#form{
	width: 30%;
	height: 20%;
	margin: 0 auto;
}
input{
	border: 1px #505050 solid;
	border-radius:0.2em;
}
label{
	cursor: pointer;
	display: inline-block;
	padding: 3px 6px;
	text-align: center;
	width: 70px;
	vertical-align: top;
} */
/* #right img{
	width: 30%;
	height: 40%;
	margin: 3% 1%;
} */
.nav-item{
	margin-right:16px;
	margin-left:16px;
	font: 2em sans-serif;
}